<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>{{site.projectName}} by {{site.author}}</title>
  
  <link rel="stylesheet" href="stylesheets/styles.css">
  <link rel="stylesheet" href="stylesheets/pygment_trac.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	<div class="wrapper">
  <header>
    <h1>{{site.projectName}}</h1>
    <p>{{site.description}}</p>
    
    <p class="view"><a href="{{site.projectUrl}}">View the Project on GitHub <small>{{site.author}}/{{site.projectName}}</small></a></p>
  </header>
  <section>
    {{content}}
    <div id="disqus_thread"></div>
  </section>
  <footer>
    <p>This project is maintained by <a href="http://blog.whosemind.net">{{site.author}}</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
  </footer>
  </div>
  <script src="javascripts/scale.fix.js"></script>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  {% if site.google_analytics_tracking_id %}
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("{{site.google_analytics_tracking_id}}");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
  {% endif %}
  {% if site.disqus_short_name %}
  <script type="text/javascript">
    var disqus_shortname = '{{ site.disqus_short_name }}';
    (function () {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
  </script>
  {% endif %}
</body>
</html>